@model IEnumerable<DevTestes.Models.Produto>

@{
    ViewData["Title"] = "Index";
}


<div class="alert alert-success" role="alert"><h2>Produtos Active</h2></div>

<p>
    <a asp-action="Create" class="btn btn-success">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProduto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdutoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProdutoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdutoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
