@model DevTestes.Models.BugProblema

@{
    ViewData["Title"] = "Visualizar registro";
}

<h1>Visualizar registro</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtaComplemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtaComplemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chamado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chamado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sprint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sprint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Impacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Impacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.BugProblemaId">Alterar</a>
    <a asp-action="Index" class="btn btn-success">Voltar para a lista</a>
</div>
